.default__home {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: yellow;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color:  skyblue;
  }

  &:active {
    background-color: pink;
    // outline: 2px solid red;
  }
}
