.default__home {
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 0;
  background-color: yellow;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color:  skyblue;
    outline: 0;
  }

  &:active {
    background-color: pink;
  }
}
