.nav {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.6rem;
  border-style: solid;
  border-color: white;
  font-family: $sans-serif;

  &--top {
    text-align: left;
    border-width: 0 0 1px;
  }
  &--bottom {
    text-align: right;
    border-width: 1px 0 0;
  }

  &__text {
    font-size: 1.6rem;
    margin: 0;
  }

  &__sig {
    white-space: nowrap;
  }

  &__text,
  a {
    font-family: $sans-serif;
  }
}