html {
  font-size: 100%;
}

.text-box {
  font-family: monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 2rem auto;
  max-width: 36rem;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  text-align: center;
}

.main {
  @extend .text-box;
  text-align: left;

  h1,
  h2 {
    text-align: center;
  }

  p {
    text-indent: 2rem;
    margin: 0;
  }

  .divider {
    width: 100%;
    display: block;
    margin: 1rem 0;
    text-align: center;
    &::before {
      content: '*';
    }
  }

  .mdash {
    white-space: nowrap;

    &--mono {
      &::before {
        content: '--';
      }
    }
  }

  pre {
    margin-left: 2rem;
    font-style: italic;
  }
}

.links {
  @extend .text-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;

  a {
    text-decoration: none;
  }
}