---
layout: default
---
<style>
  .figure-image-list {
    width: 100%;
    text-align: center;
  }

  .figure-image {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.6rem 1.6rem 0;
    width: 100%;
  }

  .figure-image:last-of-type {
    padding-bottom: 1.6rem;
  }

  .figure-image__img {
    box-sizing: border-box;
    border: 1px solid #888;
    width: 100%;
    max-width: 640px;
    max-height: 640px;
  }
</style>

<main class="figure-image-list">
  {% for item in site.data.figure-images %}
  <section class="figure-image">
    <img class="figure-image__img" src="{{ item }}" alt="figure drawing">
  </section>
  {% endfor %}
</main>
